.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.call-to-action__text {
  font-size: 24px;
  margin-right: 10px;
}

.call-to-action__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #2196f3;
  text-decoration: none;
  border-radius: 5px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__content h1 {
  font-size: 40px;
  margin: 20px 0;
}

.header__content img {
  max-width: 100%;
  height: auto;
}
